{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}update_lb_form{% endblock %}
{% block form_action %}{% url horizon:nova:load_balancer:nodes:update params.lb_id, params.node_id %}{% endblock %}

{% block modal-header %}Update Node{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description:" %}</h3>
    <p>{% trans "Update Node" %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Update Node" %}" />
  <a href="{% url horizon:nova:load_balancer:detail params.lb_id %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
